.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
.a {
    width: 100%;
    height: 75px;
    background: red;
}
.b {
    width: 100%;
    height: 150px;
    background: yellow;
}
.cd {
    width: 100%;
    height: 125px;
}
.c {
    background: green;
}
.d {
    background: pink;
}
.efgh {
    width: 50%;
    height: 250px;
    float: left;
}
.e {
    background: gray;
}
.f {
    background: orange;
}
.g {
    background: blue
}
.h {
    background: #000;
    color: #FFF;
}
.i {
    width: 100%;
    height: 80px;
    background: purple;
    clear: both;
}
@media only screen and (min-width: 768px) {
    .a {
        height: 100px;
    }
    .b {
        float: left;
        width: 200px;
        height: 600px;
    }
    .cdWrapper, .efghWrapper, .i {
        width: calc((100% - 200px));
        float: left;
    }
    .cd {
        float: left;
        width: 50%;
        height: 200px;
    }
    .efgh {
        width: 25%;
    }
    .i {
        height: 150px;
        clear: none;
    }
}